
.wrapper {
    margin: 20px;
    display: grid;
    grid-template-rows: 6fr 4fr;
    border: 1px solid black;
    border-radius: 3px;
    width: 250px;
    height: 300px;
}

.top {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px 3px 0 0;
}

.top > img {
    height: 200px;
    width: auto
}

.bottom {
    margin: 0;
    padding: 5px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 0 3px 3px;
}

.bottom > *{
    margin: 0;
}