.number{
    color: black (220, 205, 156);
    background-color: #dddde8e1;
    border: 1px #0d010ad5 solid;
    cursor: pointer;
    transition: all .3s ease;
    font-family: "Finlandica";
    margin-right: 4px;
    padding: 4px;
    height: 25px;
    width: 25px;
}

.number:hover{
    background-color: rgba(144, 25, 144, 0.776);
}

.ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 14px;
    margin-left: 550px;
}