.wrapper {
    height: 200px;
    width: 90%;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
    background-color: #212529;
    color: white
}

.userCard {
    padding: 0 5px;
    height: 30px;
    width: fit-content;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    background-color: #2125296e;
}

.userCard > span {
    padding-left: 5px;
}

.starsDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 25px;
    border-radius: 5px;
    width: 33%;
}


.starsDiv:hover > i:before {
    color: goldenrod;
    cursor: pointer;
}

.starsDiv > i:hover ~ i:before  {
    color: inherit;
}

.commentDiv > textarea {
    width: 333px;
    height: 100px;
    border-radius: 5px;
    margin-top: 10px;
}

.button {
    margin: 0px auto;
    border-radius: 5px;
    border: none;
    color: black;
    font-weight: 700;
}

.button:hover{
    transform: scale(1.05);
    background-color: goldenrod;
    color: white
}