.container{
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: center;
}
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
    width: 600px;
    border-radius: 10px;
    background-color: #f8f9fa;
    border: 1px solid #212529;
    margin: 150px;
    padding: 10px 30px;
}

.button {
    border-radius: 5px;
    margin: 10px auto;
    padding: 2px 10px;
    border: 1px solild #212529;
    width: 120px;
    height: fit-content;
}

.button:hover{
    background-color: #212529;
    color: #f8f9fa
}
.h2{
    text-align: center;
    color: #455d7a;
}
.h5{
    text-decoration: none;
   color: #455d7a;
   font-size: 5px;
}

