.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 600px;
    border-radius: 10px;
    background-color: #f8f9fa;
    border: 1px solid #212529;
    margin: 20px auto;
    padding: 10px 30px;
}

.button {
    border-radius: 5px;
    margin: 10px auto;
    padding: 2px 10px;
    border: 1px solild #212529;
}

.button:hover{
    background-color: #212529;
    color: #f8f9fa
}