.container{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
 .bookForm {
  margin: 20px auto;
    padding: 20px;
    width: 40%;
    background-color: #f8f9fa;
    border: 1px solid #212529;
    border-radius: 20px;
    justify-content: center;
    margin: 150px
}

.formControl {
  margin: 10px 0;
  font-size: 18px;
} 
.h2{
  text-align: center;
  color: #455d7a;
}

.buttonControl {
  border-radius: 5px;
  margin: 10px auto;
  padding: 2px 10px;
  border: 1px solild #212529;
  width: 120px;
  height: fit-content;
} 
.buttonControl:hover{
  background-color: #212529;
  color: #f8f9fa
}
.center{
  text-align: center;
}